[Service]
Type=exec
ExecStart=/bin/bash -c '\
LATEST=$(ls -t /home/tim-r/projects/ReCure-Lyrics/output/*.html | head -n 1); \
/usr/bin/netsurf-gtk "file://$LATEST" \
'
Environment=XDG_RUNTIME_DIR=/run/user/%U
Restart=on-failure


